@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    font-family: sans;
}

.bulletin-container {
    margin: 15px;
}

#regular_message_template, #attachment_message_template, #image_message_template,
#instaimage_message_template {
    display: none;
}

.tag-name {
    font-size: 54px;
    color: #b2b1b0;
    font-family: 'Open Sans', sans-serif;
}

.first-row .tag-name {
    margin-bottom: 40px;
}

.second-row .tag-name {
    margin-bottom: 20px;
}

div[tagname="fremhevet"] .tag-name, div[tagname="beskjeder"] .tag-name  {
    text-align: left;
}

div[tagname="bilder"] .tag-name, div[tagname="diverse"] .tag-name  {
    text-align: right;
}

.message {
    width: 100%;
    position: relative;
    height: 220px;
    /*border: 1px solid blue;*/
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

.message-header {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
}

.message-author {
    font-weight: bold;
}

.message-time {
    display: inline-block;
    color: #bbbbbb;
    padding: 3px;
}

.message-avatar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}

.message-body {
    font-size: 32px;
    color: #535353;
    height: 185px;
    width: 536px;
    /*border: 1px solid black;*/
    overflow: hidden;
    word-break: break-word;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 4;*/
    /*-webkit-box-orient: vertical;*/
    /*white-space: pre-wrap;*/
}

.message-reactions {
}

.message-reaction-item {
    display: inline-block;
    border: 1px solid rgba(79,176,252,.4);
    border-radius: 5px;
    background-color: rgba(79, 176, 252, 0.08);
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 7px;
}

.message-reaction-item .message-reaction img {
    height: 22px;
    width: 22px;
    vertical-align: text-top;
}

.message-reaction-count {
    color: #4fb0fc;
    font-weight: bold;
}

.message-content {
    display: block;
    margin-left: 50px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
}

.image-message-post .col-sm-6 {
}

.image-message-post .message-image-container {
    height: 100%;
    text-align: center;
}

.message-comment-post {
    height: 60px;
    margin-bottom: 0;
}

.message-comment-post .message-reactions {
    overflow: hidden;
    white-space: nowrap;
}

.message-comment-post .message-avatar {
    height: 25px;
    width: 25px;
}

.message-comment-post .message-content {
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.message-comment-post .message-header {
    height: 12px;
    line-height: 7px;
}

.message-comment-post .message-body {
    height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.message-comment-post .message-header, .message-comment-post .message-body,
.message-comment-post .message-content {
    font-size: 9px;
}

.message-comment-post .message-reaction-item .message-reaction img {
    height: 11px;
    width: 11px;
    vertical-align: text-top;
}

.message-comment-post .message-reaction-item {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
}

.image-message-post .message-body {
}

.image-message-post .message-body .row{
    margin-left: 0;
    margin-right: 0;
}

.image-message-post .message-image {
    max-height: 100%;
    max-width: 100%;
}

.instaimage-message-post {
    height: 335px;
    background-color: #e7e5e4;
}

.instaimage-message-post .message-body {
}

.instaimage-message-post .message-instaimage-container {
    height: 280px;
    /*border: 1px solid black;*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.instaimage-message-post .message-instaimage-container .message-instaimage {
    max-height: 100%;
    max-width: 100%;
}

.instaimage-message-post .message-avatar-container {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    width: 50px;
    margin-bottom: 3px;
}

.instaimage-message-post .message-footer {
    padding-left: 7px;
    padding-right: 7px;
    /*margin-right: 55px;*/
    font-size: 11px;
    font-family: 'Open Sans';
}

.instaimage-message-post .message-footer .message-desc,
.instaimage-message-post .message-footer .message-info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.instaimage-message-post .message-footer .message-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*white-space: pre-wrap;*/
}

.instaimage-message-post .message-footer .message-info {
    height: 19px;
    color: #444444;
}

.instaimage-message-post .message-footer .message-info .message-author {
    color: #444444;
}

.instaimage-message-post .message-footer .message-info .message-time {
    color: #888888;
}

.first-row .attachment-message-post .message-attachment-name {
    width: 140px;
    height: 180px;
}

.regular-message-post .message-body span,
.message-comment-post .message-body,
.instaimage-message-post .message-footer .message-desc {
    white-space: pre-wrap;
}

.col-sm-7, .col-sm-5, .col-sm-6 {
    /*border: 1px solid black;*/
}

div.first-row {
     height: 1225px;
}

div.second-row {
     height: 695px;
}

.second-row .message {
    height: 80px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}

.second-row .attachment-message-post .message-attach-image-container img {
    height: 50px;
}

.second-row .message .message-header {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    height: 22px;
}

.second-row .message .message-reaction-item {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}

.second-row .message .message-reaction-item .message-reaction img {
    height: 15px;
    width: 15px;
}


.second-row .message .message-body {
    font-size: 24px;
    height: 58px;
    width: 100%;
    /*line-height: 28px;*/
}

.second-row .message-comment-post {
    height: 60px;
    margin-bottom: 0;
}

.second-row .message-comment-post .message-reactions {
    overflow: hidden;
    white-space: nowrap;
}

.second-row .message-comment-post .message-avatar {
    height: 25px;
    width: 25px;
}

.second-row .message-comment-post .message-content {
    margin-left: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.second-row .message-comment-post .message-header {
    height: 12px;
    line-height: 7px;
}

.second-row .message-comment-post .message-body {
    height: 25px;
    line-height: normal;
}

.second-row .message-comment-post .message-header, .second-row .message-comment-post .message-body,
.second-row .message-comment-post .message-content {
    font-size: 9px;
}

.second-row .message-comment-post .message-reaction-item .message-reaction img {
    height: 11px;
    width: 11px;
    vertical-align: text-top;
}

.second-row .message-comment-post .message-reaction-item {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
}


.centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
