<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/reset.css"/>
<link rel="stylesheet" type="text/css" href="static/style.css"/>
<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="static/bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>
<script src="static/bootstrap/js/bootstrap.min.js"></script>

<script src="static/js/jquery.emoji.js"></script>
<script src="static/js/jquery.textfill.min.js"></script>
<script src="static/js/moment.js"></script>

<script type="text/javascript">
    var INSTATAG_NAME = 'bilder';
    var emoji = new EmojiConvertor();
    emoji.img_sets.apple.path = 'static/emojis/img-apple-64/';
    moment.locale('nn');

    function get_regular_message_html(msg) {
        var template = $('#regular_message_template').clone();
        $(template).attr('post-id', msg.msg_id);
        $(template).addClass('regular-message-post');
        $(template).addClass('message');
        $(template).removeAttr('id');
        var message_avatar_img = $(template).find('.message-avatar')[0];
        var author_span = $(template).find('.message-author')[0];
        var message_time_span = $(template).find('.message-time')[0];
        var message_body_div = $(template).find('.message-body')[0];
        var message_body_div_span = $(message_body_div).find('span')[0];
        var message_reactions_span = $(template).find('.message-reactions')[0];
        var message_reaction_item_span = $(template).find('.message-reaction-item')[0];
        message_reaction_item_span = $(message_reaction_item_span).detach();

        $(message_avatar_img).attr('src', msg.user_info.image_48);
        $(author_span).text(msg.user_info.real_name);
        var msg_date = moment.unix(msg.ts);
        $(message_time_span).text(msg_date.format('DD MMMM YYYY hh:mm'));
        $(message_body_div_span).text(msg.text);
        if (msg.hasOwnProperty('reactions')) {
            $.each(msg.reactions, function(index, reaction) {
                var message_reaction_span = $(message_reaction_item_span).find('.message-reaction')[0];
                var message_reaction_count_span = $(message_reaction_item_span).find('.message-reaction-count')[0];
                $(message_reaction_span).html(emoji.replace_colons(':' + reaction.name + ':'));
                $(message_reaction_count_span).text(reaction.count);
                $(message_reactions_span).append($(message_reaction_item_span).clone());
            });
        }

        return template;
    }

    function get_image_message_html(msg) {
        var template = $('#image_message_template').clone();
        $(template).attr('post-id', msg.msg_id);
        $(template).addClass('image-message-post');
        $(template).addClass('message');
        $(template).removeAttr('id');
        var message_avatar_img = $(template).find('.message-avatar')[0];
        var author_span = $(template).find('.message-author')[0];
        var message_time_span = $(template).find('.message-time')[0];
        var message_body_div = $(template).find('.message-body')[0];
        var message_image = $(template).find('.message-image')[0];
        var message_reactions_span = $(template).find('.message-reactions')[0];
        var message_reaction_item_span = $(template).find('.message-reaction-item')[0];
        var message_comments_div = $(template).find('.message-comments')[0];
        message_reaction_item_span = $(message_reaction_item_span).detach();

        $(message_avatar_img).attr('src', msg.user_info.image_48);
        $(author_span).text(msg.user_info.real_name);
        var msg_date = moment.unix(msg.ts);
        $(message_time_span).text(msg_date.format('DD MMMM YYYY hh:mm'));
        // $(message_image).attr('src', msg.file.thumb_360);
        $(message_image).attr('src', msg.file.local_url);

        if (msg.hasOwnProperty('reactions')) {
            $.each(msg.reactions, function(index, reaction) {
                var message_reaction_span = $(message_reaction_item_span).find('.message-reaction')[0];
                var message_reaction_count_span = $(message_reaction_item_span).find('.message-reaction-count')[0];
                $(message_reaction_span).html(emoji.replace_colons(':' + reaction.name + ':'));
                $(message_reaction_count_span).text(reaction.count);
                $(message_reactions_span).append($(message_reaction_item_span).clone());
            });
        }

        if (msg.hasOwnProperty('comments')) {
            $.each(msg.comments, function(index, comment_item) {
                comment_item['user_info'] = msg.user_info;
                $(message_comments_div).append(get_message_comment_html(comment_item));
            });
        }

       return template;
    }

    function get_attachment_message_html(msg) {
        var template = $('#attachment_message_template').clone();
        $(template).attr('post-id', msg.msg_id);
        $(template).addClass('attachment-message-post');
        $(template).addClass('message');
        $(template).removeAttr('id');
        var message_avatar_img = $(template).find('.message-avatar')[0];
        var author_span = $(template).find('.message-author')[0];
        var message_time_span = $(template).find('.message-time')[0];
        var message_body_div = $(template).find('.message-body')[0];
        var message_image = $(template).find('.message-attach-image')[0];
        var message_attach_name_div = $(template).find('.message-attachment-name')[0];
        var message_attach_name_div_span = $(message_attach_name_div).find('span')[0];
        var message_reactions_span = $(template).find('.message-reactions')[0];
        var message_reaction_item_span = $(template).find('.message-reaction-item')[0];
        var message_comments_div = $(template).find('.message-comments')[0];
        message_reaction_item_span = $(message_reaction_item_span).detach();

        $(message_avatar_img).attr('src', msg.user_info.image_48);
        $(author_span).text(msg.user_info.real_name);
        var msg_date = moment.unix(msg.ts);
        $(message_time_span).text(msg_date.format('DD MMMM YYYY hh:mm'));
        $(message_attach_name_div_span).text(msg.file.name);
        $(message_image).attr('src', 'static/img/fileicon110.png');

        if (msg.hasOwnProperty('reactions')) {
            $.each(msg.reactions, function(index, reaction) {
                var message_reaction_span = $(message_reaction_item_span).find('.message-reaction')[0];
                var message_reaction_count_span = $(message_reaction_item_span).find('.message-reaction-count')[0];
                $(message_reaction_span).html(emoji.replace_colons(':' + reaction.name + ':'));
                $(message_reaction_count_span).text(reaction.count);
                $(message_reactions_span).append($(message_reaction_item_span).clone());
            });
        }

        if (msg.hasOwnProperty('comments')) {
            $.each(msg.comments, function(index, comment_item) {
                comment_item['user_info'] = msg.user_info;
                $(message_comments_div).append(get_message_comment_html(comment_item));
            });
        }

       return template;
    }

    function get_instaimage_message_html(msg) {
        var template = $('#instaimage_message_template').clone();
        $(template).addClass('message');
        $(template).addClass('instaimage-message-post');
        $(template).removeAttr('id');

        var message_avatar_img = $(template).find('.message-avatar')[0];
        var message_instaimage_img = $(template).find('.message-instaimage');
        var author_span = $(template).find('.message-author')[0];
        var message_time_span = $(template).find('.message-time')[0];
        var message_desc_div = $(template).find('.message-desc')[0];
        $(author_span).text(msg.user_info.real_name);
        var msg_date = moment.unix(msg.ts);
        $(message_time_span).text(msg_date.format('DD MMMM YYYY hh:mm'));

        $(message_avatar_img).attr('src', msg.user_info.image_48);
        // $(message_instaimage_img).attr('src', msg.file.thumb_480);
        $(message_instaimage_img).attr('src', msg.file.local_url);

        if (msg.file.hasOwnProperty('initial_comment')) {
            $(message_desc_div).text(msg.file.initial_comment.comment);
        }

        return template;
    }

    function get_message_comment_html(comment) {
        var template = $('#regular_message_template').clone();
        $(template).addClass('message');
        $(template).addClass('message-comment-post');
        $(template).removeAttr('id');
        var message_avatar_img = $(template).find('.message-avatar')[0];
        var author_span = $(template).find('.message-author')[0];
        var message_time_span = $(template).find('.message-time')[0];
        var message_body_div = $(template).find('.message-body')[0];
        var message_reactions_span = $(template).find('.message-reactions')[0];
        var message_reactions_div = '<div></div>';
        message_reactions_div = $(message_reactions_div).addClass('message-reactions');
        var message_reaction_item_span = $(template).find('.message-reaction-item')[0];
        message_reaction_item_span = $(message_reaction_item_span).detach();

        $(message_avatar_img).attr('src', comment.user_info.image_48);
        $(author_span).text(comment.user_info.real_name);
        var msg_date = moment.unix(comment.timestamp);
        $(message_time_span).text(msg_date.format('DD MMMM YYYY hh:mm'));
        $(message_body_div).text(comment.comment);

        if (comment.hasOwnProperty('reactions')) {
            $.each(comment.reactions, function(index, reaction) {
                var message_reaction_span = $(message_reaction_item_span).find('.message-reaction')[0];
                var message_reaction_count_span = $(message_reaction_item_span).find('.message-reaction-count')[0];
                $(message_reaction_span).html(emoji.replace_colons(':' + reaction.name + ':'));
                $(message_reaction_count_span).text(reaction.count);
                $(message_reactions_div).append($(message_reaction_item_span).clone());
            });
        }

        message_reactions_span = $(message_reactions_span).detach();
        var message_content_div = $(template).find('.message-content')[0];
        $(message_content_div).append(message_reactions_div);

        return template;
    }

    $(document).ready(function() {
        var event_source = new EventSource('/stream');
        var ts_obj = {};

        var time = performance.now();

        event_source.addEventListener('message', function(event) {
            var json_data = $.parseJSON(event.data);
            tags_msgs = $.parseJSON(json_data.message);

            console.log(performance.now() - time);
            time = performance.now();

            // console.log(tags_msgs);
            $.each(tags_msgs, function(tag_name, tag_items) {
                //form string with ids
                var ts_str = '';
                $.each(tag_items, function(index, tag_msg) {
                    ts_str += tag_msg.msg_id;
                });

                //if they've changed - update
                if (ts_str != ts_obj[tag_name]) {
                    ts_obj[tag_name] = ts_str;

                    $('div[tagname=' + tag_name + '] .content').empty();
                    $.each(tag_items, function(index, tag_msg) {
                        if (tag_name == INSTATAG_NAME) {
                            if (tag_msg.hasOwnProperty('image')) {
                                var msg_html = get_instaimage_message_html(tag_msg);
                                $('div[tagname=' + tag_name + '] .content').append(msg_html);
                            }
                        }
                        else {
                            if (!tag_msg.hasOwnProperty('subtype')) {
                                var msg_html = get_regular_message_html(tag_msg);
                                $('div[tagname=' + tag_name + '] .content').append(msg_html);
                            }
                            else if (tag_msg.subtype == 'file_share') {
                                if (tag_msg.hasOwnProperty('image')) {
                                    var msg_html = get_image_message_html(tag_msg);
                                    $('div[tagname=' + tag_name + '] .content').append(msg_html);
                                }
                                else {
                                    var msg_html = get_attachment_message_html(tag_msg);
                                    $('div[tagname=' + tag_name + '] .content').append(msg_html);
                                }
                            }
                        }
                    });
                }
            });

            $('.regular-message-post .message-body').textfill({
                maxFontPixels: 32
            });

            $('.first-row .attachment-message-post .message-attachment-name').textfill({
                maxFontPixels: 32
            });

        }, false);
    });
</script>
</head>
<body>
    <div class="bulletin-container">
        <div class="row first-row">
            <div class="col-sm-7">
                <div class="tag_container" tagname="fremhevet">
                    <div class="tag-name">#fremhevet</div>
                    <div class="content"></div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="tag_container" tagname="bilder">
                    <div class="tag-name">#bilder</div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
        <div class="row second-row">
            <div class="col-sm-6">
                <div class="tag_container" tagname="beskjeder">
                    <div class="tag-name">#beskjeder</div>
                    <div class="content"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tag_container" tagname="diverse">
                    <div class="tag-name">#diverse</div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- templates -->

    <div id="regular_message_template">
        <div class="message-avatar-container">
            <img class="message-avatar"></img>
        </div>
        <div class="message-content">
            <div class="message-header">
                <span class="message-author"></span>
                <span class="message-time"></span>
                <span class="message-reactions">
                    <span class="message-reaction-item">
                        <span class="message-reaction"></span>
                        <span class="message-reaction-count"></span>
                    </span>
                </span>
            </div>
            <div class="message-body">
                <span></span>
            </div>
        </div>
    </div>

    <div id="image_message_template">
        <div class="message-avatar-container">
            <img class="message-avatar"></img>
        </div>
        <div class="message-content">
            <div class="message-header">
                <span class="message-author"></span>
                <span class="message-time"></span>
                <span class="message-reactions">
                    <span class="message-reaction-item">
                        <span class="message-reaction"></span>
                        <span class="message-reaction-count"></span>
                    </span>
                </span>
            </div>
            <div class="message-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="message-image-container">
                            <img class="message-image"></img>
                        </div>
                    </div>
                    <div class="col-sm-6 message-comments">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="attachment_message_template">
        <div class="message-avatar-container">
            <img class="message-avatar"></img>
        </div>
        <div class="message-content">
            <div class="message-header">
                <span class="message-author"></span>
                <span class="message-time"></span>
                <span class="message-reactions">
                    <span class="message-reaction-item">
                        <span class="message-reaction"></span>
                        <span class="message-reaction-count"></span>
                    </span>
                </span>
            </div>
            <div class="message-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="message-attach-image-container pull-left">
                            <img class="message-attach-image"></img>
                        </div>
                        <div class="message-attachment-name pull-left clearfix">
                            <span></span>
                        </div>
                        <!-- <div class="message-image"></div> -->
                    </div>
                    <div class="col-sm-6 message-comments">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="instaimage_message_template">
            <div class="message-instaimage-container">
                <div class="centerer"></div>
                <img class="message-instaimage"/>
            </div>
            <div class="message-footer">
                <div class="message-info">
                    <span class="message-author"></span>
                    <span class="message-time"></span>
                </div>
                <div class="message-desc">
                </div>
            </div>
            <!-- <div class="message-avatar-container">
                <img class="message-avatar"/>
            </div> -->
    </div>

</body>
</html>
